@import './base.css';

#app {
  margin: 1rem auto;
  padding: 2rem;
  font-weight: normal;
}

#app-header{
  height:auto;
  width: 100%;
  text-align: center;
}

#app-main{
  height:auto;
  width: 100%;
  text-align: center;
}

hr{
  margin: 1rem;
}

#movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* adjust the number of columns as needed */
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  #movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #movie-list {
    grid-template-columns: 1fr;
  }
}

.movie-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-item button {
  margin: 0 0.5rem;
}

.movie-item button:nth-child(2) {
  margin-left: 0;
}

.modal-box-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color:black;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 0 0.5rem;
}

.button-container button:nth-child(2) {
  margin-left: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
